<p>
  <strong>Name:</strong> Eli<br>
  <strong>Species:</strong> Coyote Border Collie Mix<br>
  <strong>Occupation:</strong> Web Developer<br>
  <strong>Hobby:</strong> Furry Artist<br>
  <strong>Relationship Status:</strong> Taken&nbsp;♡<br>
  <strong>Orientation:</strong> Genderfluid Femboy + Bisexual + Phallisexual Preference + Monogamous<br>
  <strong>Languages:</strong> English, Spanish, German, French, Italian<br>
  <strong>Personality Typings:</strong> INFP or INTP, 4 or 6, giga introverted crazy fuck<br>
  <strong>Beliefs:</strong> Atheist
</p>

<p><strong>Likes:</strong> Edgy Humor, Love, Drawing, Furries, Animals, Anime, Learning Languages, Computers, Games, Psychology, "Sigma" Movies, True Crime (Mass Murder), Sweets, Beanie Babies, Sunshine, Rainbows, Music (New Wave, Disco, Industrial, Metal, Alternative, Goth, Vaporwave)</p>

<p><strong>Dislikes:</strong> Listening to too much sad music, being around people, being cold, close-mindedness, extremism, the obvious, etc.</p>

<p><strong>GOAT Musicians:</strong> Mindless Self Indulgence, Rammstein, China Crisis, Windows 96</p>

<!--<p><strong>Loves:</strong> ENTPs, goofy ENTJs, psycho INFPs, Patrick Bateman, Light Yagami, Souichi Tsujii, Alfred Alfer, Claude Frollo, Phosphophyllite, Patches, Mahito</p>-->

{% include loves.html %}

<!--<p style="margin-bottom:0rem;"><strong>Kins:</strong> Tomoko Kuroki, Junpei Yoshino, Yuri, Bocchi, Ginger Claret, Tom Hansen</p>-->

