<p>
  <strong>Occupation:</strong> Web Developer<br>
  <strong>Hobby:</strong> Artist<br>
  <strong>Relationship Status:</strong> Taken&nbsp;♡<br>
  <strong>Birth Year:</strong> 1997<br>
  <strong>Orientation:</strong> Androromantic (Romantically attracted to guys only) Bisexual<br>
  <strong>Sex:</strong> Female<br>
  <strong>Gender:</strong> Can't decide. My ideal body would be feminine and male but have both parts<br>
  <strong>Pronouns</strong> She/He/They/E<br>
  <strong>Languages:</strong> English, Spanish, German, French, Italian<br>
  <strong>Personality Typings:</strong> INFP, 4 or 6, 469, CS, RLOXI, giga introverted and neurotic<br>
  <strong>Beliefs:</strong> Atheist
</p>

<p><strong>Likes:</strong> Edgy Humor, Love, Drawing, Furries, Animals, Anime, Learning Languages, Computers, Games, Psychology, "Sigma" Movies, True Crime (Mass Murder), Sweets, Beanie Babies, Sunshine, Rainbows, Music (New Wave, Disco, Industrial, Metal, Alternative, Goth, Vaporwave)</p>

<p><strong>Dislikes:</strong> Slow sad songs, being around people, being cold, close-mindedness, extremism, the obvious, etc.</p>

<p><strong>GOAT Musicians:</strong> Mindless Self Indulgence, Rammstein, China&nbsp;Crisis, Windows&nbsp;96, VAST, Nine Inch Nails, System of a Down, KMFDM, Radiohead, Aphex Twin, Smashing Pumpkins, Phil Collins</p>

{% include loves.html %}

{% include kins.html %}

<p><strong>OCs: Under Construction</strong></p>

<p>
  <strong>Name:</strong> Elizabeth "Eli"<br>
  <strong>Species:</strong> coydog (coyote border collie mix)<br>
  <strong>Sex:</strong> female<br>
  <strong>Gender:</strong> ???<br>
  <strong>Orientation:</strong> likes men<br>
  <strong>Notes:</strong> sometimes wants to be a boy<br>
  <strong>Mate:</strong> Loren
</p>

<p>
  <strong>Name:</strong> Loren<br>
  <strong>Species:</strong> maned wolf<br>
  <strong>Sex:</strong> male<br>
  <strong>Gender:</strong> man<br>
  <strong>Orientation:</strong> straight<br>
  <strong>Notes:</strong> sometimes likes being mistaken as a girl<br>
  <strong>Mate:</strong> Eli
</p>
