<p>
  <strong>Name:</strong> ...<br>
  <strong>Species:</strong> Coyote Border Collie Mix<br>
  <strong>Occupation:</strong> Web Developer<br>
  <strong>Hobby:</strong> Furry Artist<br>
  <strong>Relationship Status:</strong> Taken&nbsp;♡<br>
  <strong>Orientation:</strong> Trans + Bi/Omni + Phallisexual Preference<br>
  <strong>Languages:</strong> English, Spanish, German, French, Italian<br>
  <strong>Personality Typings:</strong> INFP or INTP, 4w5 or 6w5, giga introverted crazy fuck
</p>

<p><strong>Likes:</strong> Drawing, Anime, Learning Languages, Psychology, True Crime (Mass Murder)</p>

<!--<p><strong>Loves:</strong> ENTPs, goofy ENTJs, psycho INFPs, Patrick Bateman, Light Yagami, Souichi Tsujii, Alfred Alfer, Claude Frollo, Phosphophyllite, Patches, Mahito</p>-->

<p><strong>Loves:</strong></p>
{% include loves.html %}

<p style="margin-bottom:0rem;"><strong>Kins:</strong> Tomoko Kuroki, Junpei Yoshino, Yuri, Bocchi, Ginger Claret, Tom Hansen</p>
