<p><strong>Kins:</strong></p>
<div class="row">
  <div class="col-sm-4"><p style="text-align:center;"><img src="https://coycollie.github.io/img/tomoko-kuroki.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Tomoko Kuroki</p></div>
  <div class="col-sm-4"><p style="text-align:center;"><img src="https://coycollie.github.io/img/junpei-yoshino.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Junpei Yoshino</p></div>
  <div class="col-sm-4"><p style="text-align:center;"><img src="https://coycollie.github.io/img/yuri.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Yuri</p></div>
</div>
