<div class="row">
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/patrick-bateman.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Patrick Bateman</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/souichi-tsujii.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Souichi Tsujii</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/light-yagami.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Light Yagami</p></div>
</div>
<div class="row">
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/alfred-alfer.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Alfred Alfer</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/claude-frollo.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Claude Frollo</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/phosphophyllite.jpg" style="border-radius:100%;max-width:150px;padding-bottom:10px;"><br>Phosphophyllite</p></div>
</div>
