<div class="row">
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/patrick-bateman.jpg" style="border-radius:100%;"><br>Patrick Bateman</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/souichi-tsujii.jpg" style="border-radius:100%;"><br>Souichi Tsujii</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/light-yagami.jpg" style="border-radius:100%;"><br>Light Yagami</p></div>
</div>
<div class="row">
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/alfred-alfer.jpg" style="border-radius:100%;"><br>Alfred Alfer</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/claude-frollo.jpg" style="border-radius:100%;"><br>Claude Frollo</p></div>
  <div class="col-sm"><p style="text-align:center;"><img src="https://coycollie.github.io/img/phosphophyllite.jpg" style="border-radius:100%;"><br>Phosphophyllite</p></div>
</div>
