<!--<hr style="border-top:1px solid rgba(255, 255, 255,.1)!important;">-->
<div class="bio">
<p style="margin-bottom:0rem;">Current status: Obsessed with TY Beanie Babies again. I might revive my old dead YouTube channel.</p>
</div>
<!--<a class="twitter-timeline" data-chrome="noheader noscrollbar" data-theme="dark" data-tweet-limit="1" data-height="164" href="https://twitter.com/c0yc0llie">Loading latest status...</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
